body {
  background-color: pink;
}
div {
  background-color: pink;
  font-size: 14px;
}
a {
  font-size: 14px;
}
.header {
  width: 150px;
  height: 400px;
  border: 10px solid red;
}
.header a {
  color: pink;
}
.header a :hover {
  color: skyblue;
}
.header::before {
  content: '';
}
